.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(4 , 3fr);
    gap: 10px;
}

.grid-item {
    background-color: #1681e6;
    border: 1px solid #000000;
    padding: 30px;
    text-align: center;
}
