.container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(4 , 1fr);
    gap: 10px;
}

.grid-item{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(217, 223, 219);
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;

}